@import "tailwindcss";
@import "tw-animate-css";

:root {
	--background: #090909;
	--foreground: #e4e4e7;
	--card: #1a1c20;
	--primary: #2a3641;
	--primary-foreground: #9ec8f1;
	--muted: #27272a;
	--muted-foreground: #aaa;
	--destructive: #fb7185;
	--faceit: #ff5500;
	--hltv: #2b6ea4;
	--border: #4a535b;
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 200;
	src:
		local("BricolageGrotesque"),
		url("~/shared/assets/fonts/BricolageGrotesque/BricolageGrotesque-ExtraLight.woff2")
			format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 300;
	src:
		local("BricolageGrotesque"),
		url("~/shared/assets/fonts/BricolageGrotesque/BricolageGrotesque-Light.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 400;
	src:
		local("BricolageGrotesque"),
		url("~/shared/assets/fonts/BricolageGrotesque/BricolageGrotesque-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 500;
	src:
		local("BricolageGrotesque"),
		url("~/shared/assets/fonts/BricolageGrotesque/BricolageGrotesque-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 600;
	src:
		local("BricolageGrotesque"),
		url("~/shared/assets/fonts/BricolageGrotesque/BricolageGrotesque-SemiBold.woff2")
			format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 700;
	src:
		local("BricolageGrotesque"),
		url("~/shared/assets/fonts/BricolageGrotesque/BricolageGrotesque-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 800;
	src:
		local("BricolageGrotesque"),
		url("~/shared/assets/fonts/BricolageGrotesque/BricolageGrotesque-ExtraBold.woff2")
			format("woff2");
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-faceit: var(--faceit);
	--color-hltv: var(--hltv);
}

@theme {
	--breakpoint-xs: 480px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1280px;
	--breakpoint-xl: 1536px;
}

@layer base {
	html {
		box-sizing: border-box;
		font-size: clamp(0.5rem, 1.5vw, 1rem);
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
		padding: 0;
		margin: 0;
	}

	body {
		font-family: "BricolageGrotesque", sans-serif;
		background-image: url("~/shared/assets/images/grid.svg");
		@apply text-base;
		@apply bg-background;
		@apply text-foreground;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}
