@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		box-sizing: border-box;
		font-size: clamp(0.5rem, 1.5vw, 1rem);
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
		padding: 0;
		margin: 0;
	}

	body {
		font-family: "BricolageGrotesque", sans-serif;
		background-image: url("@assets/images/grid.svg");
		@apply text-base;
		@apply bg-background;
		@apply text-background-foreground;
	}
}

@layer utilities {
	.text-shadow {
		text-shadow: 0 0 16px rgb(0 0 0 / 0.6);
	}

	.blur-xs {
		filter: blur(1px);
	}
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 200;
	src:
		local("BricolageGrotesque"),
		url("@assets/fonts/BricolageGrotesque/BricolageGrotesque-ExtraLight.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 300;
	src:
		local("BricolageGrotesque"),
		url("@assets/fonts/BricolageGrotesque/BricolageGrotesque-Light.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 400;
	src:
		local("BricolageGrotesque"),
		url("@assets/fonts/BricolageGrotesque/BricolageGrotesque-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 500;
	src:
		local("BricolageGrotesque"),
		url("@assets/fonts/BricolageGrotesque/BricolageGrotesque-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 600;
	src:
		local("BricolageGrotesque"),
		url("@assets/fonts/BricolageGrotesque/BricolageGrotesque-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 700;
	src:
		local("BricolageGrotesque"),
		url("@assets/fonts/BricolageGrotesque/BricolageGrotesque-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "BricolageGrotesque";
	font-weight: 800;
	src:
		local("BricolageGrotesque"),
		url("@assets/fonts/BricolageGrotesque/BricolageGrotesque-ExtraBold.woff2") format("woff2");
}
